.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

body {
  background-color: #3e3c32!important;
}

.gradient-custom-3, .gradient-custom-4 {
  /* fallback for old browsers */
  background: #8c6044; /* Darker Brown */

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(140, 96, 68, 0.5), rgba(107, 74, 54, 0.5));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(140, 96, 68, 0.5), rgba(107, 74, 54, 0.5));
}

.gradient-custom-4 {
  /* fallback for old browsers */
  background: #8c6044; /* Darker Brown */

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(140, 96, 68, 1), rgba(107, 74, 54, 1));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(140, 96, 68, 1), rgba(107, 74, 54, 1));
}

.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

video {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.navi {
  width: 100%;
  height: 65px;
  background-color: rgba(0, 0, 0, 0.528); 
  backdrop-filter: blur(10px);
  color: white !important;
  position: fixed;
  display: flex;
  justify-content: flex-end;
  z-index: 1;
}

.icon {
  margin-top: 18px;
  margin-right: 25px;
  font-size: 25px;
  color: white;
}

.icon:hover {
  cursor: pointer;
}

h6 {
  margin-left: 75px;
  margin-top: 22px !important;
  transition: transform 0.3s ease;
}

h6:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.signa {
  color: white;
}

.signa:hover {
  color: aliceblue;
}

.div2, .div3, .div4, .div5 {
  color: #c3c3c3;
}

.div2 {
  width: 500px;
  height: 100px;
  margin-top: 150px;
  position: absolute;
  margin-left: -70px;
}

.div3 {
  position: absolute;
  margin-top: 280px;
  margin-left: -170px;
}

.div4 {
  position: absolute;
  margin-top: 400px;
}

.div5 {
  color: transparent; 
  -webkit-text-stroke: 2.5px #c3c3c3;  
  margin-top: 530px;
  position: absolute;
  margin-left: -90px;
}

h1 {
  font-size: 125px !important;
  margin-left: 420px;
}

.butt {
  display: inline-block;
  padding: 10px 35px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-radius: 25px;
  transition: background-color 0.3s ease;
  color: #282c34;
  background-color: #c3c3c3;
  margin-top: 360px;
  margin-left: 1150px;
  border-style: none;
}

.butt:hover {
  background-color: #282c34;
  color: #c3c3c3;
}

.cardsto {
  background-color: rgba(255, 255, 255, 0.734) !important; /* Semi-transparent background color */
  backdrop-filter: blur(10px);
}

.butt i {
  margin-left: 15px;
}

.px-5 {
  width: 450px;
  height: 560px;
}

.divhome {
  width: 100%;
  height: 1230px;
  background-color: #3e3c32;
  margin-top: -68px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 80px;
}

.px-54 {
  width: 450px;
  height: 350px;
}

.card1 {
  width: 300px;
  height: 510px !important;
  margin-top: 10px;
  background-color: #ececec !important;
  transition: transform 1.5s ease;
}

.card1:hover {
  transform: scale(1.1);
}

.explo {
  color: white !important;
  background-color: #85634c !important;
  transition: background-color 0.3s ease !important;
}

.explo:hover {
  background-color: #2b1d0e !important;
}

.nav2 {
  position: fixed;
  margin-top: 65px;
  z-index: 1;
  width: 100%;
  height: 50px;
  background-color: #c3c3c3;
  color: #ececec;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 100px;
}

.navbutt {
  border: none;
  background-color: #c3c3c3;
  height: 44px;
  width: 137px;
  margin-top: 3px;
  transition: transform 0.3s ease, border-radius 0.3s ease, background-color 0.3s ease;
}

.navbutt:hover {
  cursor: pointer;
  transform: scale(1.1);
  background-color: #3e3c32;
  color: white;
  border-radius: 15px;
}

.demmy {
  margin-bottom: 150px;
  background-color: #85634c;
}

.storediv {
  position: absolute;
  width: 100%;
  background-image: url(https://c4.wallpaperflare.com/wallpaper/124/342/449/beautifull-design-interio-wallpaper-preview.jpg);
  background-size: cover; 
  background-position: center; 
  background-attachment: fixed; 
}

@media screen and (max-width: 767px) {
  .cont{
    width: 755px !important;
  }
  .logimg{
    width: 755px !important;
  }
  input{
    display: none;
  }
  .storediv{
   width: 755px;
  }
  .justify-content-center{
    width: 720px;
  }
  /* .bg-image{
    width: 755px !important; 
    height: 889px !important;
  } */
  .enjodiv{
    margin-top: 50px;
  }
  .m-5{
    height: 520px !important;
  }
  .navi{
    margin-top: -50px;
  }
  
  .h-custom{
    width: 745px;
    margin-left: 35px;
  }
  .mt-5{
    width: 660px;

  }
  .demmy{
    width: 755px;
  }
  .butt{
    width: 100px;
    margin-left: 300px;
    margin-top: 750px;
    width:300px;
  }
  .enjodiv{
   margin-right:-100px;
  }
  .divhome{
    margin-top: 150px;
    width: 755px;
    height: 100%;
    padding-bottom: 25px;
  }
  .footer {
    width:755px;
  }
  .mdb{
    display: none;
  }
.enjodiv{
  margin-left: -180px !important;
}
.svg{
  width:755px;
  margin-bottom:-155px;
}
.card1{
  margin-bottom: 35px;
}
.footer{
  text-align: left;
}
.signup{
  margin-left: -120px !important;
}

.navbutt{
  font-size: 10px;
  width: 60px;
}
/* .cardsto{
  width: 200px !important;
} */

.logo{
  margin-right: -1px !important;
}
.homtexts{
  margin-left: 50px;
}
.imgsto{
  width: 100px !important;
}
}
@media screen and (min-width: 1920px) and (min-height: 1080px) {

  .butt {
    margin-left: 1500px;
}
.logo{
  margin-right: 600px !important;
}
.card1{
  margin:50px;
}

.divhome{
  height: 1400px;
}

}
.footer {
  color :white;

}
